@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700;900&family=Red+Hat+Text:wght@400;500;700&display=swap');

:root {
  --sk-white: white;
  --sk-black: black;
  --sk-primary-40: hsla(52, 69%, 4%, 1);
  --sk-primary-50: hsla(52, 69%, 5%, 1);
  --sk-primary-60: hsla(52, 69%, 6%, 1);
  --sk-primary-100: hsla(52, 69%, 10%, 1);
  --sk-primary-120: hsla(52, 69%, 12%, 1);
  --sk-primary-170: hsla(52, 69%, 17%, 1);
  --sk-primary-200: hsla(52, 69%, 20%, 1);
  --sk-primary-220: hsla(52, 69%, 22%, 1);
  --sk-primary-240: hsla(52, 69%, 24%, 1);
  --sk-primary-250: hsla(52, 69%, 25%, 1);
  --sk-primary-300: hsla(52, 69%, 30%, 1);
  --sk-primary-350: hsla(52, 69%, 35%, 1);
  --sk-primary-400: hsla(52, 69%, 40%, 1);
  --sk-primary-500: hsla(52, 69%, 50%, 1);
  --sk-primary-600: hsla(52, 69%, 60%, 1);
  --sk-primary-700: hsla(52, 69%, 70%, 1);
  --sk-primary-800: hsla(52, 69%, 80%, 1);
  --sk-primary-870: hsla(52, 69%, 87%, 1);
  --sk-primary-900: hsla(52, 69%, 90%, 1);
  --sk-primary-920: hsla(52, 69%, 92%, 1);
  --sk-primary-940: hsla(52, 69%, 94%, 1);
  --sk-primary-950: hsla(52, 69%, 95%, 1);
  --sk-primary-960: hsla(52, 69%, 96%, 1);
  --sk-primary-980: hsla(52, 69%, 98%, 1);
  --sk-primary-990: hsla(52, 69%, 99%, 1);

  --sk-secondary-40: #0c0f10;
  --sk-secondary-50: #0e1113;
  --sk-secondary-60: #111415;
  --sk-secondary-100: #191c1e;
  --sk-secondary-120: #1d2022;
  --sk-secondary-170: #282a2c;
  --sk-secondary-200: #2e3133;
  --sk-secondary-220: #323537;
  --sk-secondary-240: #37393b;
  --sk-secondary-250: #393c3e;
  --sk-secondary-300: #444749;
  --sk-secondary-350: #505355;
  --sk-secondary-400: #5c5f61;
  --sk-secondary-500: #757779;
  --sk-secondary-600: #8f9193;
  --sk-secondary-700: #a9abad;
  --sk-secondary-800: #c5c7c9;
  --sk-secondary-870: #d9dadc;
  --sk-secondary-900: #e1e2e5;
  --sk-secondary-920: #e7e8ea;
  --sk-secondary-940: #edeef0;
  --sk-secondary-950: #f0f1f3;
  --sk-secondary-960: #f2f4f6;
  --sk-secondary-980: #f8f9fb;
  --sk-secondary-990: #fbfcfe;

  --sk-neutral-40: #0c0f10;
  --sk-neutral-50: #0e1113;
  --sk-neutral-60: #111415;
  --sk-neutral-100: #191c1e;
  --sk-neutral-120: #1d2022;
  --sk-neutral-170: #282a2c;
  --sk-neutral-200: #2e3133;
  --sk-neutral-220: #323537;
  --sk-neutral-240: #37393b;
  --sk-neutral-250: #393c3e;
  --sk-neutral-300: #444749;
  --sk-neutral-350: #505355;
  --sk-neutral-400: #5c5f61;
  --sk-neutral-500: #757779;
  --sk-neutral-600: #8f9193;
  --sk-neutral-700: #a9abad;
  --sk-neutral-800: #c5c7c9;
  --sk-neutral-870: #d9dadc;
  --sk-neutral-900: #e1e2e5;
  --sk-neutral-920: #e7e8ea;
  --sk-neutral-940: #edeef0;
  --sk-neutral-950: #f0f1f3;
  --sk-neutral-960: #f2f4f6;
  --sk-neutral-980: #f8f9fb;
  --sk-neutral-990: #fbfcfe;

  --sk-neutral-variant-40: #0a0e14;
  --sk-neutral-variant-50: #0d1117;
  --sk-neutral-variant-60: #0f141a;
  --sk-neutral-variant-100: #181c22;
  --sk-neutral-variant-120: #1c2026;
  --sk-neutral-variant-170: #262a31;
  --sk-neutral-variant-200: #2c3137;
  --sk-neutral-variant-220: #31353c;
  --sk-neutral-variant-240: #353940;
  --sk-neutral-variant-250: #373c43;
  --sk-neutral-variant-300: #43474e;
  --sk-neutral-variant-350: #4e535a;
  --sk-neutral-variant-400: #5a5f66;
  --sk-neutral-variant-500: #73777f;
  --sk-neutral-variant-600: #8d9199;
  --sk-neutral-variant-700: #a7abb4;
  --sk-neutral-variant-800: #c3c6cf;
  --sk-neutral-variant-870: #d7dae3;
  --sk-neutral-variant-900: #dfe2eb;
  --sk-neutral-variant-920: #e5e8f1;
  --sk-neutral-variant-940: #ebeef7;
  --sk-neutral-variant-950: #edf1fa;
  --sk-neutral-variant-960: #f0f3fd;
  --sk-neutral-variant-980: #f8f9ff;
  --sk-neutral-variant-990: #fdfcff;

  --sk-sys-primary: var(--sk-primary-400);
  --sk-sys-on-primary: var(--sk-white);
  --sk-sys-primary-container: var(--sk-primary-900);
  --sk-sys-on-primary-container: var(--sk-primary-100);
  --sk-sys-primary-fixed: var(--sk-primary-900);
  --sk-sys-on-primary-fixed: var(--sk-primary-100);
  --sk-sys-primary-fixed-dim: var(--sk-primary-800);
  --sk-sys-on-primary-fixed-variant: var(--sk-primary-300);
  --sk-sys-secondary: var(--sk-secondary-400);
  --sk-sys-on-secondary: var(--sk-white);
  --sk-sys-secondary-container: var(--sk-secondary-900);
  --sk-sys-on-secondary-container: var(--sk-secondary-100);
  --sk-sys-secondary-fixed: var(--sk-secondary-900);
  --sk-sys-on-secondary-fixed: var(--sk-secondary-100);
  --sk-sys-secondary-fixed-dim: var(--sk-secondary-800);
  --sk-sys-on-secondary-fixed-variant: var(--sk-secondary-300);
  --sk-sys-outline: var(--sk-neutral-variant-500);
  --sk-sys-background: var(--sk-neutral-990);
  --sk-sys-on-background: var(--sk-neutral-100);
  --sk-sys-on-background-muted: var(--sk-neutral-800);
  --sk-sys-surface: var(--sk-neutral-980);
  --sk-sys-on-surface: var(--sk-neutral-100);
  --sk-sys-surface-variant: var(--sk-neutral-variant-900);
  --sk-sys-on-surface-variant: var(--sk-neutral-variant-300);
  --sk-sys-inverse-surface: var(--sk-neutral-200);
  --sk-sys-inverse-on-surface: var(--sk-neutral-950);
  --sk-sys-inverse-primary: var(--sk-primary-800);
  --sk-sys-shadow: var(--sk-black);
  --sk-sys-surface-tint: var(--sk-primary-400);
  --sk-sys-outline-variant: var(--sk-neutral-variant-800);
  --sk-sys-scrim: var(--sk-black);
  --sk-sys-surface-container-highest: var(--sk-neutral-900);
  --sk-sys-surface-container-high: var(--sk-neutral-920);
  --sk-sys-surface-container: var(--sk-neutral-940);
  --sk-sys-surface-container-low: var(--sk-neutral-960);
  --sk-sys-surface-container-lowest: var(--sk-white);
  --sk-sys-surface-bright: var(--sk-neutral-980);
  --sk-sys-surface-dim: var(--sk-neutral-870);

  /* Fonts */
  --sk-font-redHatDisplay: 'Red Hat Display';
  --sk-font-redHatText: 'Red Hat Text';
  --sk-font-display: var(--sk-font-redHatDisplay);
  --sk-font-headline: var(--sk-font-redHatDisplay);
  --sk-font-title: var(--sk-font-redHatText);
  --sk-font-label: var(--sk-font-redHatText);
  --sk-font-body: var(--sk-font-redHatText);

  /* Normalization Ratios */
  --sk-nr-redHatText: 1.02;
  --sk-nr-redHatDisplay: 1.02;
  --sk-nr-display: var(--sk-nr-redHatDisplay);
  --sk-nr-headline: var(--sk-nr-redHatDisplay);
  --sk-nr-title: var(--sk-nr-redHatText);
  --sk-nr-label: var(--sk-nr-redHatText);
  --sk-nr-body: var(--sk-nr-redHatText);

  /* Font Weights */
  --sk-fw-regular: 400;
  --sk-fw-medium: 500;
  --sk-fw-bold: 700;
  --sk-fw-black: 900;
  --sk-fw-display: var(--sk-fw-bold);
  --sk-fw-headline: var(--sk-fw-medium);
  --sk-fw-title: var(--sk-fw-medium);
  --sk-fw-label: var(--sk-fw-medium);
  --sk-fw-body: var(--sk-fw-regular);

  /* Font Sizes */
  --sk-fs-root: 16px;
  --sk-fs-scale: 1.2;
  --sk-fs-0: calc(var(--sk-fs-1) / var(--sk-fs-scale));
  --sk-fs-1: calc(var(--sk-fs-2) / var(--sk-fs-scale));
  --sk-fs-2: calc(var(--sk-fs-3) / var(--sk-fs-scale));
  --sk-fs-3: var(--sk-fs-root);
  --sk-fs-4: calc(var(--sk-fs-3) * var(--sk-fs-scale));
  --sk-fs-5: calc(var(--sk-fs-4) * var(--sk-fs-scale));
  --sk-fs-6: calc(var(--sk-fs-5) * var(--sk-fs-scale));
  --sk-fs-7: calc(var(--sk-fs-6) * var(--sk-fs-scale));
  --sk-fs-8: calc(var(--sk-fs-7) * var(--sk-fs-scale));
  --sk-fs-9: calc(var(--sk-fs-8) * var(--sk-fs-scale));
  --sk-fs-10: calc(var(--sk-fs-9) * var(--sk-fs-scale));
  --sk-fs-11: calc(var(--sk-fs-10) * var(--sk-fs-scale));
  --sk-fs-12: calc(var(--sk-fs-11) * var(--sk-fs-scale));

  /* Font Styles */

  /* Display */
  --sk-display-lg: var(--sk-fw-display)
    calc(var(--sk-fs-10) * var(--sk-nr-display)) / 120% var(--sk-font-display);

  --sk-display-md: var(--sk-fw-display)
    calc(var(--sk-fs-9) * var(--sk-nr-display)) / 120% var(--sk-font-display);

  --sk-display-sm: var(--sk-fw-display)
    calc(var(--sk-fs-8) * var(--sk-nr-display)) / 120% var(--sk-font-display);

  /* Headline */
  --sk-headline-lg: var(--sk-fw-headline)
    calc(var(--sk-fs-7) * var(--sk-nr-headline)) / 120% var(--sk-font-headline);

  --sk-headline-md: var(--sk-fw-headline)
    calc(var(--sk-fs-6) * var(--sk-nr-headline)) / 120% var(--sk-font-headline);

  --sk-headline-sm: var(--sk-fw-headline)
    calc(var(--sk-fs-5) * var(--sk-nr-headline)) / 120% var(--sk-font-headline);

  --sk-headline-xs: var(--sk-fw-headline)
    calc(var(--sk-fs-4) * var(--sk-nr-headline)) / 120% var(--sk-font-headline);

  /* Title */
  --sk-title-lg: var(--sk-fw-title) calc(var(--sk-fs-4) * var(--sk-nr-title)) /
    120% var(--sk-font-title);

  --sk-title-md: var(--sk-fw-title) calc(var(--sk-fs-3) * var(--sk-nr-title)) /
    120% var(--sk-font-title);

  --sk-title-sm: var(--sk-fw-title) calc(var(--sk-fs-2) * var(--sk-nr-title)) /
    120% var(--sk-font-title);

  /* Label */
  --sk-label-lg: var(--sk-fw-label) calc(var(--sk-fs-2) * var(--sk-nr-label)) /
    120% var(--sk-font-label);

  --sk-label-md: var(--sk-fw-label) calc(var(--sk-fs-1) * var(--sk-nr-label)) /
    120% var(--sk-font-label);

  --sk-label-sm: var(--sk-fw-label) calc(var(--sk-fs-0) * var(--sk-nr-label)) /
    120% var(--sk-font-label);

  /* Body */
  --sk-body-lg: var(--sk-fw-body) calc(var(--sk-fs-3) * var(--sk-nr-body)) /
    120% var(--sk-font-body);

  --sk-body-md: var(--sk-fw-body) calc(var(--sk-fs-2) * var(--sk-nr-body)) /
    120% var(--sk-font-body);

  --sk-body-sm: var(--sk-fw-body) calc(var(--sk-fs-1) * var(--sk-nr-body)) /
    120% var(--sk-font-body);

  /* Paragraph Spacing */
  --sk-ps-0: '0';

  /* Absolute Dimensions */
  --sk-dimension-0000: 0px;
  --sk-dimension-0001: 1px;
  --sk-dimension-0002: 2px;
  --sk-dimension-0004: 4px;
  --sk-dimension-0008: 8px;
  --sk-dimension-0010: 10px;
  --sk-dimension-0012: 12px;
  --sk-dimension-0016: 16px;
  --sk-dimension-0018: 18px;
  --sk-dimension-0024: 24px;
  --sk-dimension-0032: 32px;
  --sk-dimension-0048: 48px;
  --sk-dimension-0064: 64px;
  --sk-dimension-0100: 100px;
  --sk-dimension-0600: 600px;
  --sk-dimension-0900: 900px;
  --sk-dimension-1200: 1200px;
  --sk-dimension-1440: 1440px;
  --sk-dimension-1600: 1600px;

  /* Spacing Dimensions */
  --sk-spacing-xs: var(--sk-dimension-0004);
  --sk-spacing-sm: var(--sk-dimension-0008);
  --sk-spacing-md: var(--sk-dimension-0016);
  --sk-spacing-lg: var(--sk-dimension-0032);
  --sk-spacing-xl: var(--sk-dimension-0048);
  --sk-spacing-xxl: var(--sk-dimension-0064);
}

[data-theme='dark'] {
  --sk-sys-primary: var(--sk-primary-800);
  --sk-sys-on-primary: var(--sk-primary-200);
  --sk-sys-primary-container: var(--sk-primary-300);
  --sk-sys-on-primary-container: var(--sk-primary-900);
  --sk-sys-primary-fixed: var(--sk-primary-900);
  --sk-sys-on-primary-fixed: var(--sk-primary-100);
  --sk-sys-primary-fixed-dim: var(--sk-primary-800);
  --sk-sys-on-primary-fixed-variant: var(--sk-primary-300);
  --sk-sys-secondary: var(--sk-secondary-800);
  --sk-sys-on-secondary: var(--sk-secondary-200);
  --sk-sys-secondary-container: var(--sk-secondary-300);
  --sk-sys-on-secondary-container: var(--sk-secondary-900);
  --sk-sys-secondary-fixed: var(--sk-secondary-900);
  --sk-sys-on-secondary-fixed: var(--sk-secondary-100);
  --sk-sys-secondary-fixed-dim: var(--sk-secondary-800);
  --sk-sys-on-secondary-fixed-variant: var(--sk-secondary-300);
  --sk-sys-outline: var(--sk-neutral-variant-600);
  --sk-sys-background: var(--sk-neutral-100);
  --sk-sys-on-background: var(--sk-neutral-900);
  --sk-sys-on-background-muted: var(--sk-neutral-900);
  --sk-sys-surface: var(--sk-neutral-60);
  --sk-sys-on-surface: var(--sk-neutral-800);
  --sk-sys-surface-variant: var(--sk-neutral-variant-300);
  --sk-sys-on-surface-variant: var(--sk-neutral-variant-800);
  --sk-sys-inverse-surface: var(--sk-neutral-900);
  --sk-sys-inverse-on-surface: var(--sk-neutral-100);
  --sk-sys-inverse-primary: var(--sk-primary-400);
  --sk-sys-shadow: var(--sk-black);
  --sk-sys-surface-tint: var(--sk-primary-800);
  --sk-sys-outline-variant: var(--sk-neutral-variant-300);
  --sk-sys-scrim: var(--sk-black);
  --sk-sys-surface-container-highest: var(--sk-neutral-220);
  --sk-sys-surface-container-high: var(--sk-neutral-170);
  --sk-sys-surface-container: var(--sk-neutral-120);
  --sk-sys-surface-container-low: var(--sk-neutral-100);
  --sk-sys-surface-container-lowest: var(--sk-neutral-40);
  --sk-sys-surface-bright: var(--sk-neutral-240);
  --sk-sys-surface-dim: var(--sk-neutral-60);
}

@media screen and (min-width: 600px) {
  :root {
    --sk-fs-root: 17px;
  }
}
@media screen and (min-width: 800px) {
  :root {
    --sk-fs-root: 18px;
  }
}
@media screen and (min-width: 1040px) {
  :root {
    --sk-fs-root: 19px;
  }
}
@media screen and (min-width: 1600px) {
  :root {
    --sk-fs-root: 20px;
  }
}
