/*Mobile styles*/
.mainContainer {
  padding-right: var(--spacer);
  padding-left: var(--spacer);
}
.mainContainer {
  display: grid;
  row-gap: var(--spacer);
}
.mainHeader {
  position: sticky;
  top: 0;
  z-index: 10;
}
@media screen and (min-width: 600px) {
  .mainContainer {
    padding-left: calc(var(--spacer) * 2);
    padding-right: calc(var(--spacer) * 2);
  }
}
@media screen and (min-width: 1240px) {
  body {
    margin-left: 120px;
    margin-right: 120px;
  }
  .mainFooter {
    padding-right: 0;
    padding-left: 0;
  }
}
