.hero {
  display: grid;
  grid-template-columns: var(--sk-spacing-md) 1fr 1fr var(--sk-spacing-md);
  overflow: hidden;
}
.hero img {
  grid-column: 1/-1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  height: 100vh;
  margin-bottom: 0;
}
.hero h2 {
  color: #f8fef0;
  grid-row: 2;
  grid-column: 2/4;
}
.hero p {
  color: #f8fef0;
  grid-row: 3;
  grid-column: 2/4;
}

@media screen and (min-width: 600px) {
  .hero {
    grid-template-columns: var(--sk-spacing-lg) 1fr 1fr var(--sk-spacing-lg);
  }
}
@media screen and (min-width: 1040px) {
  .hero {
    grid-template-columns: var(--sk-spacing-xl) 1fr 300px 1fr var(
        --sk-spacing-xl
      );
  }
  .hero h2 {
    grid-column: 1/3;
    justify-self: end;
  }
  .hero h5 {
    grid-column: 4/6;
    justify-self: unset;
  }
}
