.portableText {
  & > .block:first-child {
    padding-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
  .block--text,
  .block--figma {
    max-width: 65ch;
  }
  > .block--text {
    padding-inline: var(--block-padding-x);
  }
  > .block--images:last-child {
    padding-bottom: 0;
  }
}
