.portableText {
  display: grid;
  grid-template-columns: var(--sk-spacing-md) 1fr var(--sk-spacing-md);
  padding-top: var(--sk-spacing-lg);
  padding-bottom: var(--sk-spacing-lg);
  & *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
