.portableText {
  --portableText-margin-left: var(--sk-spacing-md);
  --portableText-margin-right: var(--sk-spacing-md);
  --portableText-padding-top: var(--sk-spacing-lg);
  --portableText-padding-bottom: var(--sk-spacing-lg);
  --portableText-template-columns: var(--portableText-margin-left) 1fr
    var(--portableText-margin-right);
  display: grid;
  grid-template-columns: var(--portableText-template-columns);
  .block {
    grid-column: 2;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
  .block--text {
    max-width: 65ch;
  }
  /* ? Should these be moved into a local module? */
  h2.block--text {
    padding-top: var(--sk-spacing-sm);
    padding-bottom: var(--sk-spacing-sm);
  }
  h4.block--text {
    padding-top: var(--sk-spacing-md);
    padding-bottom: var(--sk-spacing-xs);
  }
  p.block--text {
    padding-top: var(--sk-spacing-sm);
    padding-bottom: var(--sk-spacing-sm);
  }
  .block--images {
    padding-top: var(--sk-spacing-md);
    padding-bottom: var(--sk-spacing-md);
  }
  .captionImage {
    width: 100%;
    & figcaption {
      padding-top: var(--sk-spacing-sm);
      padding-bottom: var(--sk-spacing-sm);
      font: var(--sk-label-lg);
    }
  }
  .block--projects {
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 600px) {
  .portableText {
    --portableText-margin-left: var(--sk-spacing-lg);
    --portableText-margin-right: var(--sk-spacing-lg);
  }
}
@media screen and (min-width: 800px) {
  .profile {
    .portableText {
      grid-template-columns: var(--portableText-margin-left) 1fr 1fr var(
          --portableText-margin-right
        );
      & > * {
        grid-column: 2;
        margin-right: var(--sk-spacing-md);
      }
    }
  }
}
@media screen and (min-width: 1040px) {
  .portableText {
    --portableText-margin-left: var(--sk-spacing-xl);
    --portableText-margin-right: var(--sk-spacing-xl);
  }
  .project {
    .portableText {
      grid-template-columns: var(--portableText-margin-left) 1fr 1fr var(
          --portableText-margin-right
        );
      .block--images {
        &.fullWidth {
          grid-column: 2/4;
          & figcaption {
            display: none;
          }
        }
        &.multiple {
          grid-column: 2/4;
        }
      }
    }
  }
  .profile {
    .portableText {
      & > * {
        margin-right: var(--sk-spacing-lg);
      }
    }
  }
}
