.two_up_container {
  display: grid;
}
.two_up_layout_horizontal {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 16px;
}
.two_up_layout_horizontal *:nth-child(1) {
  grid-column: 1/7;
}
.two_up_layout_horizontal *:nth-child(2) {
  grid-column: 8/13;
}
.two_up_layout_vertical {
  grid-template-rows: 1fr 1fr;
}
