.link {
  cursor: pointer;
  display: grid;
  grid-template-rows: auto 1fr;
  text-decoration: none;
  color: var(--sk-white);
  & img {
    grid-column: 1;
    grid-row: 1/3;
  }
  & hgroup {
    grid-column: 1;
    grid-row: 1;
    order: 1;
    padding: var(--sk-spacing-lg) var(--sk-spacing-md);
    margin-bottom: 0;
    & h4 {
      font: var(--sk-title-md);
      font-weight: var(--sk-fw-semibold);
      text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.2);
    }
    & h5 {
      font: var(--sk-body-md);
      text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.2);
    }
  }
}
.content {
  display: grid;
  & img {
    grid-column: 1;
    grid-row: 1;
  }
  & hgroup {
    grid-column: 1;
    grid-row: 1;
    order: 1;
    padding: var(--sk-spacing-lg) var(--sk-spacing-md);
    & h4 {
      font: var(--sk-title-md);
      font-weight: var(--sk-fw-semibold);
      text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.2);
    }
    & h5 {
      font: var(--sk-body-md);
      text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.2);
    }
  }
}
