/* General */
.grid {
  display: grid;
  padding: var(--sk-spacing-md) var(--sk-spacing-md);
}
.grid__container {
  display: grid;
  padding: var(--sk-spacing-md) 0;
}
/* Project Grids */
.grid__container--projects {
  gap: var(--sk-spacing-lg) 0;
}
/* People Grids */
.grid__container--people {
  gap: var(--sk-spacing-lg) var(--sk-spacing-md);
}
/* Post Grids */
.grid__container--posts {
  gap: var(--sk-spacing-lg) 0;
}
/* Office Grids */
.grid__container--offices {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  /* Project Grids */
  .projectGrid__section h3 {
    display: block;
  }
  .projectSection__container {
    gap: var(--sk-spacing-lg) var(--sk-spacing-md);
  }
  /* Post Grids */
  .postGrid {
    gap: var(--sk-spacing-lg) var(--sk-spacing-md);
  }
}
@media screen and (min-width: 1040px) {
  /* Project Grids */
  .projectSection__container {
    gap: var(--sk-spacing-lg) var(--sk-spacing-lg);
  }
  /* People Grids */
  .peopleGrid {
    gap: var(--sk-spacing-lg) var(--sk-spacing-lg);
  }
}
