.moduleProjects {
  display: grid;
  background-color: var(--sk-sys-background);
  color: var(--sk-sys-on-background);
  & > * {
    grid-column: 2;
  }
  & h2 {
    margin-bottom: var(--sk-spacing-lg);
  }
  & p {
    margin-bottom: var(--sk-spacing-lg);
  }
}
.container {
  display: grid;
  gap: var(--sk-spacing-md) 0;
}
