.anchor {
  --_padding-x: var(--sk-spacing-md, 16px);
  --_padding-y: var(--sk-spacing-xl, 64px);
  display: block;
  color: var(--sk-sys-primary);
  font-weight: var(--sk-fw-medium);
  font-size: var(--sk-fs-5);
  padding-inline: var(--_padding-x);
  padding-block: var(--_padding-y);
}
@media (width >= 600px) {
  .anchor {
    --_padding-x: var(--sk-spacing-lg, 32px);
  }
}
@media (width >= 1040px) {
  .anchor {
    --_padding-x: var(--sk-spacing-xl, 64px);
  }
}
