.anchor {
  display: block;
  color: var(--sk-sys-primary);
  font-weight: var(--sk-fw-medium);
  font-size: var(--sk-fs-5);
  padding-inline: var(--block-padding-x);
  padding-block: var(--block-padding-y);
}
