.section {
  --container-gap-row: var(--sk-spacing-lg);
  --container-gap-column: var(--sk-spacing-lg);
  background-color: var(--sk-sys-surface);
  color: var(--sk-sys-on-surface);
  padding-inline: var(--block-padding-x);
  padding-block: var(--block-padding-y);
}
.header {
  margin-bottom: var(--block-padding-y);
}
.container {
  display: grid;
  gap: var(--container-gap-row);
  container-type: inline-size;
}
@media (width >= 800px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
