.container {
  display: flex;
  flex-direction: column;
  gap: var(--sk-spacing-lg) 0;
  & img {
    display: block;
  }
}
@media screen and (min-width: 800px) {
  .container {
    flex-direction: row;
    gap: 0 var(--sk-spacing-lg);
  }
}
