.block {
  display: grid;
  grid-template-columns: var(--sk-spacing-md) 1fr var(--sk-spacing-md);
  padding-top: var(--sk-spacing-md);
  padding-bottom: var(--sk-spacing-md);
  & > * {
    grid-column: 2;
  }
}
.container {
  display: grid;
  gap: var(--sk-spacing-md) 0;
}
