.block {
  grid-column: 1/-1;
  padding-top: var(--sk-spacing-lg);
  padding-right: var(--sk-spacing-md);
  padding-bottom: var(--sk-spacing-lg);
  padding-left: var(--sk-spacing-md);
  & h3 {
    font: var(--sk-headline-sm);
  }
}
.container {
  display: grid;
  gap: var(--sk-spacing-md) 0;
  padding-top: var(--sk-spacing-md);
  padding-bottom: var(--sk-spacing-md);
}
