/* All Section Blocks */
.block {
  padding-inline: var(--block-padding-x);
  padding-block: var(--block-padding-y);
  & h2 {
    margin-bottom: var(--block-header-padding-y);
  }
}
/* * Principles */
:global(#principles .container) {
  display: grid;
  & h3 {
    margin-bottom: var(--sk-spacing-md);
  }
}
@media (width >= 800px) {
  :global(#principles .container) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-auto-flow: column;
  }
}
/* * Clients and Industries */
:global(#clients-and-industries .container) {
  display: grid;
  & h3 {
    text-decoration: underline var(--sk-sys-primary) 2px;
    text-underline-offset: var(--sk-spacing-sm);
    margin-bottom: var(--sk-spacing-md);
    font-weight: var(--sk-fw-light);
  }
}
@media (width >= 1040px) {
  :global(#clients-and-industries .container) {
    grid-template-columns: 1fr 1fr;
    & h3:nth-of-type(1) {
      grid-column: 1;
      grid-row: 1;
    }
    & h3:nth-of-type(1) ~ p {
      grid-column: 1;
      grid-row: 2;
    }
    & h3:nth-of-type(2) {
      grid-column: 2;
      grid-row: 1;
    }
    & h3:nth-of-type(2) + ul {
      grid-column: 2;
      grid-row: 2;
    }
  }
}
/* * Capabilities */
:global(#capabilities .container) {
  display: grid;
  & h3 {
    margin-bottom: var(--sk-spacing-md);
    color: var(--sk-sys-primary);
  }
}
@media (width >= 800px) {
  :global(#capabilities .container) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
  }
}
@media (width >= 1040px) {
  :global(#capabilities .container) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
  }
}
