.footer {
  display: grid;
  grid-template-columns: var(--sk-spacing-md) auto var(--sk-spacing-md);
  align-items: end;
  padding-top: var(--sk-spacing-xl);
  padding-bottom: var(--sk-spacing-xl);
}
.footer__links {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  gap: 0 var(--sk-spacing-sm);
  justify-self: end;
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
}
.footer__links li {
  cursor: pointer;
  margin-bottom: 0;
}
.socialLink {
  height: 40px;
  width: 40px;
}
.socialLink__icon {
  fill: #cbcbcb;
}
.footer__copyright {
  grid-row: 1;
  grid-column: 2;
  justify-self: start;
  font: var(--sk-body-md);
  color: #bbbbbb;
}
@media screen and (min-width: 600px) {
  .footer {
    grid-template-columns: var(--sk-spacing-lg) auto var(--sk-spacing-lg);
  }
}
@media screen and (min-width: 1040px) {
  .footer {
    grid-template-columns: var(--sk-spacing-xl) auto var(--sk-spacing-xl);
  }
  .socialLink {
    height: 44px;
    width: 44px;
  }
}
@media screen and (min-width: 1600px) {
  .footer {
    grid-template-columns: 1fr 1504px 1fr;
  }
}
