.mainFooter {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
}
.mainFooter__links {
  display: flex;
  list-style-type: none;
  margin-left: 0;
  gap: 0 16px;
  order: 2;
}
.mainFooter__links a {
  color: var(--sk-sys-on-background);
}
.mainFooter__copyright {
  font-family: var(--sk-font-redHatText);
  order: 1;
}
