/* Project Grids */
.projectGrid {
  display: grid;
  grid-auto-flow: row;
  gap: var(--sk-spacing-lg) 0;
}
.projectGrid__section {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--sk-spacing-sm) 0;
}
.projectGrid__section h3 {
  display: none;
  font: var(--sk-headline-sm);
}
.projectSection__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--sk-spacing-lg) 0;
}
@media screen and (min-width: 600px) {
  .projectGrid__section h3 {
    display: block;
  }
  .projectSection__container {
    gap: var(--sk-spacing-lg) var(--sk-spacing-md);
  }
}
@media screen and (min-width: 1040px) {
  .projectSection__container {
    gap: var(--sk-spacing-lg) var(--sk-spacing-lg);
  }
}
/* People Grids */
.peopleGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: var(--sk-spacing-lg) var(--sk-spacing-md);
}
@media screen and (min-width: 1040px) {
  .peopleGrid {
    gap: var(--sk-spacing-lg) var(--sk-spacing-lg);
  }
}
/* Post Grids */
.postGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--sk-spacing-lg) 0;
}
@media screen and (min-width: 600px) {
  .postGrid {
    gap: var(--sk-spacing-lg) var(--sk-spacing-md);
  }
}
