.headerMask {
  height: 100%;
  width: 100%;
}
.headerMask__text {
  font-family: var(--sk-font-display);
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  font-weight: var(--sk-fw-black);
  transform: translate(16px, 57px);
}
.headerMask__text--light {
  fill: var(--sk-sys-on-background);
}
.headerMask__text--dark {
  /* Dark mode 'on-background' color */
  fill: var(--sk-neutral-900);
}
.headerMask__bkgd--dark {
  /* Dark mode 'background' color */
  fill: var(--sk-neutral-100);
  width: 100%;
  height: 90px;
}
