.mainHeader {
  display: flex;
  align-items: center;
  height: 64px;
  padding-left: var(--sk-spacing-md);
  padding-right: var(--sk-spacing-md);
}
.mainNav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  position: relative;
  width: 100%;
  z-index: 10;
}
.mainNav__logo h1 {
  color: transparent;
  font-family: var(--sk-font-display);
  font-weight: var(--sk-fw-black);
  font-size: 40px;
  line-height: 40px;
}
.mainNav__menuButton {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  width: 48px;
  justify-content: center;
  margin-right: calc(var(--sk-spacing-sm) * -1);
  padding: 0 var(--sk-spacing-sm);
}
.menuButton__icon {
  height: 48px;
}
.menuButton__icon .icon__line {
  stroke: var(--sk-sys-on-background);
  stroke-linecap: round;
  stroke-width: 10;
}
.sk-nav-links {
  align-items: center;
  /* Dark mode 'background' color */
  background-color: var(--sk-neutral-100);
  display: none;
  flex-direction: column;
  gap: var(--sk-spacing-lg) 0;
  height: 0;
  list-style-type: none;
  margin-bottom: 0;
  margin-left: calc(var(--sk-spacing-md) * -1);
  margin-right: calc(var(--sk-spacing-md) * -1);
  opacity: 0.95;
  padding-top: 0;
  position: absolute;
  top: 56px;
  width: calc(100% + var(--sk-spacing-md) * 2);
}
.nav-link {
  /* Dark mode 'on-background' color */
  color: var(--sk-neutral-900);
  letter-spacing: 0.5px;
  opacity: 0;
  padding-left: calc(var(--spacer) / 4);
  padding-right: calc(var(--spacer) / 4);
  text-align: center;
  text-transform: uppercase;
  font-size: var(--sk-fs-5);
}
.nav-link--active {
  border-bottom: 2px solid var(--sk-sys-primary);
  font-weight: var(--sk-fw-medium);
}

@media screen and (min-width: 600px) {
  .mainHeader {
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: calc(var(--spacer) * 2);
    padding-right: calc(var(--spacer) * 2);
  }
  .mainNav {
    position: static;
    z-index: unset;
  }
  .mainNav__logo h1 {
    font-size: 42px;
    opacity: 1;
  }
  .mainNav__menuButton {
    display: none;
  }
  .rec-nav-links {
    display: flex;
    background-color: unset;
    color: inherit;
    flex-direction: row;
    height: initial;
    margin-left: unset;
    margin-right: unset;
    opacity: 1;
    padding-top: unset;
    position: static;
    width: initial;
  }
  .rec-nav-links li {
    margin-bottom: 0;
  }
  .nav-link {
    color: inherit;
    opacity: 1;
  }
  .mainHeader--light .nav-link {
    color: var(--gray2);
  }
  .mainHeader--light .nav-link--active {
    color: inherit;
  }
}

@media screen and (min-width: 1240px) {
  .mainHeader {
    padding-right: 0;
    padding-left: 0;
  }
  .mainHeader {
    height: 112px;
  }
  .mainNav {
    max-width: none;
  }
  .mainNav__logo h1 {
    font-size: 69px;
  }
  .rec-nav-links {
    gap: 16px;
  }
  .rec-nav-links li {
    display: flex;
    align-items: center;
    height: 48px;
  }
  .nav-link {
    font-size: 23px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
