.header {
  display: grid;
  grid-template-columns: var(--sk-spacing-md) auto var(--sk-spacing-md);
  height: 64px;
}
.header__nav {
  grid-column: 2/3;
  grid-row: 1;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  z-index: 10;
}
.nav__logo h1 {
  color: transparent;
  font-family: var(--sk-font-display);
  font-weight: var(--sk-fw-black);
  font-size: 40px;
  line-height: 40px;
}
.nav__button {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  width: 48px;
  justify-content: center;
  margin-right: calc(var(--sk-spacing-sm) * -1);
  padding: 0 var(--sk-spacing-sm);
}
.button__icon {
  height: 48px;
}
.icon__line {
  stroke: var(--sk-sys-on-background);
  stroke-linecap: round;
  stroke-width: 10;
}
.nav__links {
  align-items: center;
  /* Dark mode 'background' color */
  background-color: var(--sk-neutral-100);
  display: none;
  flex-direction: column;
  gap: var(--sk-spacing-lg) 0;
  height: 0;
  list-style-type: none;
  margin-bottom: 0;
  margin-left: calc(var(--sk-spacing-md) * -1);
  margin-right: calc(var(--sk-spacing-md) * -1);
  opacity: 0.95;
  padding-top: 2rem;
  position: absolute;
  top: 64px;
  width: calc(100% + var(--sk-spacing-md) * 2);
}
.links__link {
  /* Dark mode 'on-background' color */
  color: var(--sk-neutral-900);
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--sk-fs-5);
  opacity: 0;
}
.links__link-active {
  border-bottom: 2px solid var(--sk-sys-primary);
  font-weight: var(--sk-fw-medium);
}
#headerMask {
  left: 0;
  position: relative;
  top: 0;
  grid-column: 1/4;
  grid-row: 1;
  width: 100%;
  z-index: -10;
}

@media screen and (min-width: 600px) {
  .header {
    grid-template-columns: var(--sk-spacing-lg) auto var(--sk-spacing-lg);
    background-color: var(--sk-sys-background);
  }
  .header__nav {
    position: unset;
    width: unset;
    z-index: unset;
  }
  .nav__logo h1 {
    color: var(--sk-sys-on-background);
    font-size: 44px;
    line-height: 44px;
  }
  .nav__button {
    display: none;
  }
  .nav__links {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 0 var(--sk-spacing-md);
    height: auto;
    opacity: unset;
    padding-top: unset;
    position: unset;
    width: unset;
    margin-left: unset;
    margin-right: unset;
  }
  .nav__links li {
    margin-bottom: 0;
  }
  .links__link {
    /* Dark mode 'on-background' color */
    color: inherit;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--sk-fs-3);
    opacity: unset;
  }
  #headerMask {
    display: none;
  }
}

@media screen and (min-width: 1040px) {
  .header {
    grid-template-columns: var(--sk-spacing-xl) auto var(--sk-spacing-xl);
    height: 80px;
  }
  .nav__logo h1 {
    font-size: 56px;
    line-height: 56px;
  }
}
@media screen and (min-width: 1600px) {
  .header {
    grid-template-columns: 1fr 1504px 1fr;
    height: 90px;
  }
  .nav__logo h1 {
    font-size: 60px;
    line-height: 60px;
  }
}
