.sk-post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 32px;
}
.sk-post__header {
  grid-column: 1/2;
  grid-row: 1/2;
}
.sk-post__body {
  grid-column: 2/3;
  grid-row: 1/3;
}
.sk-post__authors {
  display: flex;
}
.sk-post__authors img {
  height: 36px;
  border-radius: 100%;
}
