.postGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--sk-spacing-lg) 0;
}
@media screen and (min-width: 600px) {
  .postGrid {
    gap: var(--sk-spacing-lg) var(--sk-spacing-md);
  }
}
