.preview {
  width: 100%;
}
.preview .preview__image {
  grid-row: 1;
  max-width: 1920px;
  margin-bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.preview--letterbox {
  aspect-ratio: 16/9;
}
.preview--square {
  aspect-ratio: 1/1;
}
.projectPreview {
  cursor: pointer;
  display: grid;
  text-decoration: none;
  color: inherit;
  gap: var(--sk-spacing-xs) 0;
  grid-auto-flow: row;
  grid-template-rows: 1fr min-content;
}
.projectPreview h4 {
  font: var(--sk-title-md);
  grid-row: 2;
}
.projectPreview h5 {
  font: var(--sk-title-sm);
}

.postPreview time {
  display: block;
}
.projectPreview:hover h4 {
  text-decoration: underline;
}
.preview--post {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--sk-spacing-md) var(--sk-spacing-md);
}
.preview--post h4 {
  grid-column: 2/4;
  grid-row: 1;
}
.preview--post p {
  display: none;
}
.preview--post time {
  grid-column: 2/4;
  grid-row: 3;
}
.preview--post img {
  grid-column: 1/2;
  grid-row: span 2;
}
