.preview {
  cursor: pointer;
  display: grid;
  text-decoration: none;
  color: inherit;
}
.preview--project {
  gap: var(--sk-spacing-xs) 0;
  grid-auto-flow: row;
  grid-template-rows: min-content min-content;
}
.preview--project h4 {
  font: var(--sk-title-md);
  grid-row: 2;
}
.preview--project:hover h4 {
  text-decoration: underline;
}
.preview--project .preview {
  grid-row: 1;
  aspect-ratio: 16/9;
}

.preview--profile {
  gap: var(--sk-spacing-xs) 0;
  grid-auto-flow: row;
  grid-template-rows: 1fr min-content min-content;
}
.preview--profile h4 {
  font: var(--sk-title-md);
  grid-row: 2;
}
.preview--profile h5 {
  font: var(--sk-title-sm);
  grid-row: 3;
}
.preview--profile .preview {
  grid-row: 1;
  aspect-ratio: 1/1;
}

.preview--post {
  gap: var(--sk-spacing-xs) var(--sk-spacing-md);
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, min-content);
}
.preview--post h4 {
  grid-column: 2;
  grid-row: 1;
  font: var(--sk-title-md);
}
.preview--post time {
  grid-column: 2;
  grid-row: 2;
}
.preview--post p {
  display: none;
  grid-column: 2;
  grid-row: 3;
}
.preview--post .preview {
  grid-column: 1;
  grid-row: 1/4;
}
@media screen and (min-width: 600px) {
  .preview--post {
    grid-template-columns: unset;
  }
  .preview--post h4 {
    grid-column: 1;
    grid-row: 2;
  }
  .preview--post time {
    grid-column: 1;
    grid-row: 3;
  }
  .preview--post p {
    display: none;
    grid-column: 1;
    grid-row: 4;
  }
  .preview--post .preview {
    grid-row: 1;
    aspect-ratio: 16/9;
  }
}
