/* General */
.preview {
  cursor: pointer;
  display: grid;
  text-decoration: none;
  color: inherit;
}
.figure {
  display: grid;
  & figcaption {
    & h4 {
      font: var(--sk-title-md);
    }
    & h5 {
      font: var(--sk-title-sm);
    }
  }
}
.figureProject {
  & * {
    grid-column: 1;
    grid-row: 1;
  }
  & img {
    aspect-ratio: 1/1;
  }
  & figcaption {
    padding: var(--sk-spacing-lg) var(--sk-spacing-md);
  }
}
.figureProfile {
  gap: var(--sk-spacing-sm) 0;
}
/* Posts */
.preview--post {
  gap: var(--sk-spacing-xs) var(--sk-spacing-md);
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, min-content);
}
.preview--post h4 {
  grid-column: 2;
  grid-row: 1;
  font: var(--sk-title-md);
}
.preview--post time {
  grid-column: 2;
  grid-row: 2;
}
.preview--post p {
  display: none;
  grid-column: 2;
  grid-row: 3;
}
.preview--post .preview {
  grid-column: 1;
  grid-row: 1/4;
}
@media screen and (min-width: 600px) {
  .preview--post {
    grid-template-columns: unset;
  }
  .preview--post h4 {
    grid-column: 1;
    grid-row: 2;
  }
  .preview--post time {
    grid-column: 1;
    grid-row: 3;
  }
  .preview--post p {
    display: none;
    grid-column: 1;
    grid-row: 4;
  }
  .preview--post .preview {
    grid-row: 1;
    aspect-ratio: 16/9;
  }
}
