.article {
  --article-paddingX: var(--wrapper-marginX);
  --article-paddingY: calc(var(--sk-spacing-lg) * 2);
  padding: var(--article-paddingY) 0;
}
/* * Header */
.header {
  display: grid;
  grid-template-columns: var(--content-template-columns);
  margin-bottom: var(--sk-spacing-xl);
  & hgroup {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: var(--sk-spacing-lg);
  }
  & img {
    grid-column: 1/-1;
  }
}
/* * Body */
.article {
  & :global(.portableText) {
    display: grid;
    grid-template-columns: var(--content-template-columns);
    & > * {
      grid-column: 2;
    }
  }
}
.additionalLinks {
  display: grid;
  grid-template-columns: var(--content-template-columns);
  padding: var(--sk-spacing-lg) 0;
  & ul {
    grid-column: 2;
    display: flex;
    gap: 0 var(--sk-spacing-md);
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    & li {
      margin-bottom: 0;
      & a {
        display: block;
        color: var(--sk-sys-primary);
        padding: var(--sk-spacing-sm) var(--sk-spacing-md);
        border: 1px solid var(--sk-sys-primary);
        border-radius: 10px;
        font: var(--sk-label-lg);
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .header {
    grid-template-columns: var(--article-paddingX) 1fr 1fr var(
        --article-paddingX
      );
    & hgroup {
      grid-column: 2;
      margin-right: var(--sk-spacing-lg);
      margin-bottom: 0;
    }
    & img {
      grid-column: 3;
    }
  }
}
@media screen and (min-width: 800px) {
  .article {
    --article-paddingY: calc(var(--sk-spacing-xl) * 2);
  }
  /* * Header */
  .header {
    margin-bottom: calc(var(--sk-spacing-lg) * 2);
    grid-template-rows: min-content;
    position: relative;
    & h1 {
      margin-bottom: 0;
    }
    & img {
      position: absolute;
      width: calc(100% - var(--article-paddingX));
      left: 0;
      max-width: 800px;
    }
  }
  /* * Body */
  .article {
    & :global(.portableText) {
      grid-template-columns: var(--article-paddingX) 1fr 1fr var(
          --article-paddingX
        );
      & > * {
        margin-right: var(--sk-spacing-lg);
      }
    }
  }
}
@media screen and (min-width: 1040px) {
  /* * Body */
  .article {
    & :global(.portableText) {
      & > * {
        margin-right: var(--sk-spacing-xl);
      }
    }
  }
}
@media screen and (min-width: 1600px) {
  /* * Header */
  .header {
    grid-template-columns:
      var(--article-paddingX) minmax(auto, 800px) minmax(auto, 800px)
      var(--article-paddingX);
    & img {
      width: calc(100% - var(--sk-spacing-xl));
    }
  }
  /* * Body */
  .article {
    & :global(.portableText) {
      grid-template-columns:
        var(--article-paddingX) minmax(auto, 800px) minmax(auto, 800px)
        var(--article-paddingX);
    }
  }
}
