.pageTitle--About {
  display: none;
}
.sk-profile {
  display: grid;
  grid-auto-flow: row;
  gap: var(--sk-spacing-lg) 0;
}
.sk-profile__header h2 {
  font: var(--sk-display-md);
  font-weight: var(--sk-fw-regular);
}
.sk-profile__header h2 span {
  color: var(--sk-secondary-500);
}
.sk-profile__headshot {
  grid-row: 2;
}
.sk-profile__headshot .preview-image {
  margin-bottom: 0;
}
.sk-profile__body p {
  font: var(--sk-body-lg);
  margin-bottom: 20px;
}
.sk-profile__body > *:last-child {
  margin-bottom: 0;
}

/* Desktop Styles */
/* .sk-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 var(--sk-spacing-sm);
}
.sk-profile__header {
  grid-column: 1/3;
  grid-row: 1;
}
.sk-profile__body {
  grid-column: 1/2;
  grid-row: 2;
}
.sk-profile__headshot {
  grid-column: 2/3;
  grid-row: 1/4;
} */
