.sk-profile {
  display: grid;
  grid-auto-flow: row;
  gap: var(--sk-spacing-lg) 0;
}
.sk-profile__header h2 {
  font: var(--sk-display-md);
  font-weight: var(--sk-fw-regular);
}
.sk-profile__header h2 span {
  color: var(--sk-secondary-500);
}
.sk-profile__headshot {
  grid-row: 2;
}
.sk-profile__headshot .cover__image {
  aspect-ratio: 1/1;
}
@media screen and (min-width: 600px) {
  .sk-profile {
    grid-auto-flow: unset;
    grid-template-columns: 1fr 1fr;
    gap: var(--sk-spacing-lg) var(--sk-spacing-lg);
  }
  .sk-profile__header {
    grid-column: 1/2;
    grid-row: 1;
  }
  .sk-profile__body {
    grid-column: 1/3;
    grid-row: 3;
    padding-right: 16.7%;
  }
  .sk-profile__headshot {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .sk-profile button {
    grid-row: 4;
  }
}
@media screen and (min-width: 800px) {
  .sk-profile {
    gap: var(--sk-spacing-lg) var(--sk-spacing-xl);
  }
  .sk-profile__body {
    grid-column: 1/2;
    grid-row: 2/4;
    padding-right: 0;
  }
}
