.article {
  display: grid;
  padding-inline: var(--block-padding-x);
  padding-block: var(--block-padding-y);
  gap: 32px;
}
@media (width >= 800px) {
  .article {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* * Header */
.header {
  display: grid;
  gap: 32px;
  & hgroup {
    margin-bottom: 0;
  }
}
@media (width >= 600px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width >= 800px) {
  .header {
    grid-column: 1/-1;
    position: relative;
    & img {
      position: absolute;
      width: 50%;
      right: 0;
    }
  }
}

/* * Body */
article:global(.profile .portableText .block--text) {
  padding-inline: 0;
}

/* * Links */
.additionalLinks {
  display: grid;
  & ul {
    display: flex;
    gap: 0 var(--sk-spacing-md);
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    & li {
      margin-bottom: 0;
    }
  }
  & li a {
    display: block;
    color: var(--sk-sys-primary);
    padding: var(--sk-spacing-sm) var(--sk-spacing-md);
    border: 1px solid var(--sk-sys-primary);
    border-radius: 10px;
    font: var(--sk-label-lg);
  }
}
@media (width >= 800px) {
  .additionalLinks {
    grid-column: 1/-1;
  }
}
