.article {
  display: grid;
  padding-block: var(--block-padding-y);
  gap: 32px;
}
/* * Header */
.header {
  display: grid;
  gap: 32px;
  & hgroup {
    display: grid;
    padding-inline: var(--block-padding-x);
    margin-bottom: 0;
  }
  & img {
    justify-self: center;
    aspect-ratio: 1/1;
  }
}
.projectTitle {
  font-weight: var(--sk-fw-medium);
  color: var(--sk-neutral-600);
}

.projectSubtitle {
  font: var(--sk-title-lg);
  padding-top: var(--sk-spacing-md);
}
@media (width >= 800px) {
  .header {
    & hgroup {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
    & img {
      aspect-ratio: 16/9;
    }
  }
  .projectClient {
    grid-column: 1;
    grid-row: 1;
  }
  .projectTitle {
    grid-column: 1;
    grid-row: 2;
  }
  .projectSubtitle {
    grid-column: 2;
    grid-row: 1/3;
  }
}
/* * Body */
article:global(.project .portableText) {
  display: grid;
  padding-inline: var(--block-padding-x);
}
article:global(.project .portableText .block--text) {
  padding-inline: 0;
}
@media (width >= 800px) {
  article:global(.project .portableText) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 0 32px;
    & :global(.block--text) {
      grid-column: 1;
    }
    & :global(.block--figma) {
      grid-column: 2;
    }
    & :global(.block--images) {
      grid-column: 1/-1;
    }
  }
}
/* * Metadata */
.metadata {
  display: grid;
  padding-inline: var(--block-padding-x);
  gap: 16px;
  & h6 {
    font: var(--sk-title-md);
  }
  & ul {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
    & li {
      margin-bottom: 0;
    }
  }
}
.gallery {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  gap: var(--sk-spacing-md) 0;
}
