.article {
  --article-marginX: var(--sk-spacing-md);
  --article-paddingY: var(--sk-spacing-xl);
  --article-grid-columns: var(--article-marginX) 1fr var(--article-marginX);
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: var(--article-grid-columns);
  padding: var(--article-paddingY) 0;
  & > * {
    grid-column: 1/-1;
  }
}
.header {
  display: grid;
  grid-template-columns: var(--article-grid-columns);
  & img {
    aspect-ratio: 1/1;
    grid-column: 1/-1;
    justify-self: center;
    margin-top: var(--sk-spacing-lg);
  }
}
.projectClient {
  grid-column: 2;
}
.projectTitle {
  font-weight: var(--sk-fw-medium);
  color: var(--sk-neutral-600);
  grid-column: 2;
}
.projectSubtitle {
  font: var(--sk-title-lg);
  padding-top: var(--sk-spacing-md);
  grid-column: 2;
}
.projectDisciplines {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
  display: flex;
  gap: var(--sk-spacing-sm);
  & li {
    font: var(--sk-body-sm);
    padding-top: var(--sk-spacing-sm);
    padding-right: var(--sk-spacing-sm);
    padding-bottom: var(--sk-spacing-sm);
    padding-left: var(--sk-spacing-sm);
    background-color: var(--sk-sys-surface-container-low);
    border-radius: 4px;
    margin-bottom: 0;
  }
}
.metadata {
  display: grid;
  grid-template-columns: var(--article-grid-columns);
  gap: var(--sk-spacing-md) 0;
  padding-bottom: var(--sk-spacing-xl);
  & > * {
    grid-column: 2;
  }
  & h6 {
    font: var(--sk-title-md);
  }
  & ul {
    list-style-type: none;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    & li {
      margin-bottom: 0;
    }
  }
}
.gallery {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  gap: var(--sk-spacing-md) 0;
}

@media screen and (min-width: 600px) {
  .article {
    --article-marginX: var(--sk-spacing-lg);
  }
  .header {
    & img {
      aspect-ratio: 16/9;
    }
  }
}
@media screen and (min-width: 800px) {
  .article {
    --article-paddingY: calc(var(--sk-spacing-lg) * 2);
  }
}
@media screen and (min-width: 1040px) {
  .article {
    --article-marginX: var(--sk-spacing-xl);
    --article-paddingY: calc(var(--sk-spacing-xl) * 2);
  }
  .header {
    grid-template-columns: var(--article-marginX) 1fr 1fr var(--article-marginX);
    & img {
      margin-top: calc(var(--sk-spacing-lg) * 3);
    }
  }
  .projectSubtitle {
    grid-column: 3;
    grid-row: 1/4;
    padding-top: 0;
  }
}
