.projectGrid {
  display: grid;
  grid-auto-flow: row;
  gap: var(--sk-spacing-md) 0;
}
.projectGrid__section h3 {
  display: none;
  font: var(--sk-headline-md);
}
.projectSection__container {
  display: grid;
  grid-auto-flow: row;
  gap: var(--sk-spacing-lg) 0;
}
