.project {
  --project-grid-columns: var(--sk-spacing-md) 1fr var(--sk-spacing-md);
  display: grid;
  grid-template-columns: var(--project-grid-columns);
  grid-column: 1/-1;
  & > * {
    grid-column: 1/-1;
  }
}
.header {
  display: grid;
  grid-template-columns: var(--project-grid-columns);
  & * {
    margin-bottom: 0;
  }
  & img {
    grid-column: 1/-1;
    justify-self: center;
    margin-top: var(--sk-spacing-lg);
  }
}
.projectClient {
  font: var(--sk-display-sm);
  grid-column: 2;
}
.projectTitle {
  font: var(--sk-body-lg);
  font-weight: var(--sk-fw-medium);
  color: var(--sk-neutral-600);
  grid-column: 2;
}
.projectSubtitle {
  font: var(--sk-title-lg);
  /* font-weight: var(--sk-fw-medium); */
  padding-top: var(--sk-spacing-md);
  grid-column: 2;
}
.projectDisciplines {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
  display: flex;
  gap: var(--sk-spacing-sm);
  & li {
    font: var(--sk-body-sm);
    padding-top: var(--sk-spacing-sm);
    padding-right: var(--sk-spacing-sm);
    padding-bottom: var(--sk-spacing-sm);
    padding-left: var(--sk-spacing-sm);
    background-color: var(--sk-sys-surface-container-low);
    border-radius: 4px;
    margin-bottom: 0;
  }
}
.metadata {
  display: grid;
  grid-template-columns: var(--project-grid-columns);
  gap: var(--sk-spacing-md) 0;
  padding-bottom: var(--sk-spacing-xl);
  & > * {
    grid-column: 2;
  }
  & h6 {
    font: var(--sk-title-md);
  }
  & ul {
    list-style-type: none;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    & li {
      margin-bottom: 0;
    }
  }
}
.gallery {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  gap: var(--sk-spacing-md) 0;
}

@media screen and (min-width: 600px) {
  .project {
    --project-grid-columns: var(--sk-spacing-lg) 1fr var(--sk-spacing-lg);
  }
}
@media screen and (min-width: 800px) {
}
@media screen and (min-width: 1040px) {
  .project {
    --project-grid-columns: var(--sk-spacing-xl) 1fr var(--sk-spacing-xl);
  }
  .projectBody {
    grid-template-columns: var(--sk-spacing-xl) 1fr 1fr var(--sk-spacing-xl);
    grid-auto-flow: rows;
    & p {
      grid-column: 2;
    }
  }
}
